.calc {
  flex-basis: 50%;
  min-height: 500px;
  height: 100%;
  overflow: hidden;
  background-color: tomato;
}

.calc-wrapper {
  width: 33rem;
  height: 50rem;
  gap: 2rem;
  padding: 2.5rem 2rem;
  border-radius: 6px;
  background-color: var(--neutral03);
}

.calc-result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  color: black;
  height: 6rem;
  padding: 1rem;
  box-shadow: var(--boxShadow);
  border-radius: 3px;
}
